@import url("https://fonts.googleapis.com/css?family=Cormorant&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  box-sizing: border-box;
  font-family: "Roboto", "Futura", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: url(./img/background.jpg) no-repeat bottom;
  background-color: #744210;
}

h1 {
  letter-spacing: -0.05rem;
}
a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}
